body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board_container {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: red;
}